body {
    max-width: 650px;
    min-width: 300px;
    line-height: 1.6;
    font-size: 1.125em;
    color: #444;
    padding: 0 10px
}

h1,h2,h3 {
    line-height: 1.2
}

footer {
    font-size: .65em;
    margin: 0;
}

footer h1 {
    font-size: 1em;
}

.subreddit-name {
    display: block;
    font-size: .8em;
}