body {
    max-width: 650px;
    min-width: 300px;
    line-height: 1.6;
    font-size: 1.125em;
    color: #444;
    padding: 0 10px
}

h1,h2,h3 {
    line-height: 1.2
}

h1 {
    margin: .3em 0;
    cursor: default;
    font-size: 1.5em;
}

h1:last-child {
    margin: .5em 0 .3em 0;
}

ul {
    margin: 0 0 1.5em 0;
    padding-left: 0;
    list-style: none;
}

li {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #dbdbdb;
}

li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

li > div {
    font-size: .8em;
    cursor: default;
}

li > a {
    color: #f06060;
    text-decoration: none;
    font-size: .9em;
}

li > a:hover,
li > a:active,
li > a:focus {
    opacity: .7;
}

footer {
    font-size: .65em;
    margin-top: 2.2em;
}

footer h1 {
    font-size: 1em;
}

footer a {
    color: #f06161;
    text-decoration: none;
}

footer a:hover,
footer a:active,
footer a:focus {
    opacity: .7;
}